<!DOCTYPE html>
<html>
	<head>
		<title>Panzer Party</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Slabo+27px" rel="stylesheet">
		<link rel="stylesheet" href="/css/control.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/control.js"></script>
	</head>
	<body>
		<div id="name"></div>
		<div id="powerup"></div>
		<div id="fire"></div>
		<div id="joystick"><div class="button"></div></div>
		<div id="dead">
			<div class="inner">
				<div class="message"></div>
				<button id="respawn">Respawn</button>
			</div>
		</div>
	</body>
</html>