<html>
	<head>
		<title>Level Editor &ndash; Panzer Party</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/level_editor.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/drawing_functions.js"></script>
		<script src="/scripts/level_editor.js"></script>
		
		{{> favicon}}
	</head>
	<body>
		<div class="sidebar left valign">
			<div id="toolbox">
				<div class="tool active" name="wall"><span>Wall</span></div>
				<div class="tool" name="powerup"><span>Powerup</span></div>
				<div class="tool" name="eraser"><span>Eraser</span></div>
			</div>
		</div>
		<div id="editor"></div>
		<div class="sidebar right">
			<h2>Level Liste</h2>
			<div id="levels"></div>
			<div class="spacer"></div>
			<div id="actions">
				<input type="hidden" id="width" value="70"> 
				<input type="hidden" id="height" value="50"> 
				<button id="clear">clear</button>
				<button id="save">Level speichern!</button>
			</div>
		</div>
	</body>
</html>