<!DOCTYPE html>
<html>
	<head>
		<title>Panzer Party</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600|Gaegu:400" rel="stylesheet">
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/screen.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/cookies.js"></script>
		<script src="/scripts/drawing_functions.js"></script>
		<script src="/scripts/screen.js"></script>
		
		{{> favicon}}
	</head>
	<body>
		<audio id="music" src="/music/Hep Cats.mp3" autoplay loop></audio>
		
		<div id="battleground">
			<canvas id="level"></canvas>
			<canvas id="objects"></canvas>
			<canvas id="effects"></canvas>
			<img id="title" src="/graphics/panzer_party.svg">
		</div>
		<div class="sidebar right">
			<ul id="kill_log"></ul>
			<div class="spacer"></div>
			<div id="scoreboard">
				<h2>Scoreboard</h2>
				<table>
					<thead>
						<th colspan="2"></th>
						<th>K</th>
						<th>D</th>
						<th>K/D</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="spacer"></div>
			<div id="ip">
				<img id="qr" src="/qr">
				<div class="info">{{ip}}:{{port}}</div>
			</div>
		</div>
		
		<div id="lobby_setup">
			<div class="title"><h2>Party einrichten</h2></div>
			<div id="levels"></div>
		</div>
		
		<div id="navbar">
			<img id="mute_music" src="/icons/music.svg">
			<img id="mute_sound" src="/icons/sound.svg">
			<img id="menu_icon" src="/icons/menu.svg">
			<img id="fullscreen" src="/icons/fullscreen.svg">
		</div>
		<div id="menu" class="valign hidden">
			<ul class="inner">
				<li><span action="continue">Weiter spielen</span></li>
				<li><a href="/editor">Level Editor</a></li>
				<li><span action="stop">Spiel abbrechen</span></li>
			</ul>
		</div>
	</body>
</html>