<html>
	<head>
		<title>Panzer Party</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600" rel="stylesheet">
		<link rel="stylesheet" href="/css/screen.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/screen.js"></script>
	</head>
	<body>
		<div class="sidebar left valign">
			<img id="title" src="panzer_party.svg">
			<img id="logo" src="tank.svg">
			<div id="ip">
				<img class="qr" src="/qr">
				<div class="info">{{ip}}:{{port}}</div>
			</div>
		</div>
		<div id="battleground">
			<canvas id="level"></canvas>
			<canvas id="objects"></canvas>
		</div>
		<div class="sidebar right">
			<ul id="kill_log"></ul>
			<div class="spacer"></div>
			<div id="scoreboard">
				<h2>Scoreboard</h2>
				<table>
					<thead>
						<th>Name</th>
						<th>K</th>
						<th>D</th>
						<th>K/D</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</body>
</html>