<html>
	<head>
		<title>Tank Combat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600" rel="stylesheet">
		<link rel="stylesheet" href="/css/level_editor.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/level_editor.js"></script>
	</head>
	<body>
		<div class="sidebar left valign">
			<img id="title" src="panzer_party.svg">
			<img id="logo" src="tank.svg">
		</div>
		<div id="editor"></div>
		<div class="sidebar right">
			<div id="size">
				<input type="text" id="width" value="25"> <span>x</span> <input type="text" id="height" value="25"> <button id="clear">&#8634;</button>
			</div>
			<div><button id="save">Speichern</button></div>
		</div>
	</body>
</html>