html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	overscroll-behavior: none;
}
body {
	font-size: 1.3vw;
	height: 100%;
	width: 100%;
	overflow: hidden;
	overscroll-behavior: none;
}


#dead {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.7);
	color: #fff;
	font-size: 9vh;
	line-height: 1em;
	font-weight: bold;
}
#dead:not(.visible) {
	display: none;
}
#dead::before, #dead::after {
	content: "";
	display: block;
	flex-grow: 1;
}
#dead .inner {
	flex-grow: 0;
	text-align: center;
}
#dead .inner .message {
	
}
#dead .inner #respawn {
	border: none;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: 1em;
	padding: 0.2em 0.2em;
	margin-top: 0.5em;
	
    animation: button_animation 5s;
    -moz-animation: button_animation 5s infinite; /* Firefox */
    -webkit-animation: button_animation 5s infinite; /* Safari and Chrome */
}
#dead .inner #respawn[disabled] {
    animation: none;
    -moz-animation: none;
    -webkit-animation: none;
	color: rgba(255, 255, 255, 0.3);
}


#name {
	position: absolute;
	top: 4vh;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 4vh;
}


#fire {
	display: block;
	position: fixed;
	bottom: 8vh;
	left: 10vh;
	width: 40vh;
	height: 40vh;
	background: hsl(7, 50%, 50%);
	background-image: url("/icons/missile.svg");
	background-size: 42%;
	background-repeat: no-repeat;
	background-position: 50% 49%;
	border: 0;
	border-radius: 50%;
	transform: rotateZ(24deg);
}
#fire:focus, #powerup:focus {
	outline: 0;
}
#fire:active::after, #powerup:active::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}
#fire::before {
	content: "x" attr(count);
	position: absolute;
	top: 50%;
	left: 58%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 4vh;
	transform: rotateZ(-24deg);
}



#powerup {
	display: block;
	position: fixed;
	top: 8vh;
	left: 10vh;
	width: 25vh;
	height: 25vh;
	background: hsl(7, 50%, 50%);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	border-radius: 50%;
}
#powerup[disabled] {
	/*opacity: 0.4;*/
}
#powerup[name]::after {
	display: none;
	content: attr(name);
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 4vh;
	white-space: nowrap;
	transform: translateX(-50%);
	top: 106%;
	left: 50%;
	text-align: center;
}
#powerup svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
}
#powerup svg circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	/*transition: stroke-dashoffset 100ms ease;*/
	stroke-width: 0.8vh;
}
#powerup svg circle#bar {
	stroke: #fff;
}



#joystick {
	position: fixed;
	bottom: 10vh;
	right: 10vh;
	width: 60vh;
	height: 60vh;
	background: #555;
	border-radius: 50%;
	box-shadow: inset 0 0 5vh rgba(0, 0, 0, 0.1);
}
#joystick .button {
	position: absolute;
	top: 20vh;
	left: 20vh;
	width: 20vh;
	height: 20vh;
	background: #666;
	border-radius: 50%;
	box-shadow: 0 0 5vh rgba(0, 0, 0, 0.1);
}



#health {
	position: fixed;
	bottom: 4vh;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -8vh;
}
#health .heart {
	overflow: visible;
	height: 7vh;
	margin: 0 1vh;
}
#health .heart path {
	fill: #fff;
	stroke-width: 10vh;
	stroke: #fff;
}
#health .heart[empty] path {
	fill: transparent;
	stroke: rgba(255, 255, 255, 0.3);
}


/* WAIT OVERLAY */
#waiting {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	
	font-size: 5vh;
}
#waiting .logo {
	display: block;
	margin: auto;
	height: 18vh;
	margin-top: -6vh;
}
#waiting .inner {
	text-align: center;
	margin-top: 2vh;
}
body[state=running] #waiting {
	display: none;
}


/* OFFLINE OVERLAY */
#offline {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	
	font-size: 5vh;
}
#offline .logo {
	display: block;
	margin: auto;
	height: 18vh;
	margin-top: -6vh;
}
#offline .inner {
	text-align: center;
	margin-top: 2vh;
}
body:not([offline]) #offline {
	display: none;
}


/* PING */
#ping {
	position: fixed;
	top: 3vh;
	right: 4vh;
	font-size: 4vh;
}
body[state=running] #ping {
	color: #fff;
}


/* LOGIN OVERLAY */
#login {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	
	background-image: url("/graphics/tank.svg");
	background-size: auto 35%;
	background-position: 8% bottom;
	background-repeat: no-repeat;
	
	font-size: 7vh;
}
body.ready #login {
	display: none;
}
#login .wrapper {
	flex-grow: 0;
}
#login .wrapper .logo {
	display: block;
	height: 21vh;
     max-width: 60%;
	margin: -8vh auto 0;
}
#login .wrapper > .inner {
	width: 50%;
	margin: 4vh auto 0;
}
#login .wrapper .input {
	display: flex;
	padding-top: 1vh;
}
#login .wrapper .input .label {
	position: absolute;
	transform: translateX(-100%) translateY(-48%);
	margin-left: -0.5em;
	font-size: 0.6em;
	text-align: right;
}
#login .wrapper .input .label div {
	margin-right: 0.9em;
}
#login .wrapper .input .label img {
	height: 1.6em;
}
#login .wrapper .input #tank_preview {
	height: 10vh;
	width: 10vh;
	margin-top: -1vh;
	margin-right: 3vh;
}
#login .wrapper .input .name {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0 2vh 0.5vh;
	border: 0;
	font: inherit;
	color: #222;
	width: 1px;
	height: 1.1em;
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}
#login .wrapper .input .name:focus {
	outline: 0;
}
#login #join {
	flex-shrink: 0;
	display: block;
	float: right;
	margin: 3vh auto 0;
	border: 0;
	font: inherit;
	font-weight: bold;
	background: transparent;
	
    animation: button_animation 5s;
    -moz-animation: button_animation 5s infinite; /* Firefox */
    -webkit-animation: button_animation 5s infinite; /* Safari and Chrome */
}

#login #privacy {
	position: fixed;
	left: 50%;
	bottom: 4vh;
	transform: translateX(-50%);
	color: #222;
	font-size: 4vh;
	text-decoration: none;
}

#login #select_color {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
}
#login #select_color .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70vh;
	margin-left: -35vh;
	margin-top: -26vh;
}
#login #select_color .inner h2 {
	margin: 0;
	font-size: 7vh;
	line-height: 1em;
	margin-bottom: 3vh;
	text-align: center;
}
#login #select_color .color {
	position: relative;
	display: block;
	float: left;
	width: 12vh;
	height: 12vh;
	margin: 1vh;
	border: 0;
	padding: 0;
}
#login #select_color .color[disabled]::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(255, 255, 255, 0.6);
	background-image: url("/icons/cross.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}


/* color fade animation*/
@-moz-keyframes button_animation /* Firefox */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}

@-webkit-keyframes button_animation /* Safari and Chrome */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}


/* screen rotate overlay */
#rotate {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	background-image: url("/icons/rotate_phone.svg");
	background-size: 40% auto;
	background-position: center;
	background-repeat: no-repeat;
}
#rotate .logo {
	display: block;
	width: 80%;
	margin: 8% auto 0;
}

@media screen and (orientation: portrait) {
	#rotate {
		display: block;
	}
}