html {
	font-size: 2.5vh;
}
body {
	display: flex;
}


.sidebar {
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	width: 50%;
}
#ip {
	position: relative;
	padding: 0 20%;
	text-align: center;
}
#ip .info {
	margin-top: 0.2em;
	font-weight: 600;
}

#title {
	position: absolute;
	top: 0;
	left: 0;
	margin: 8% 10%;
	width: 80%;
}

#logo {
    position: absolute;
	bottom: 0;
	left: 20%;
	width: 60%;
}


#toolbox {
	position: absolute;
	right: 4%;
	top: 50%;
	transform: translateY(-50%);
	text-align: right;
}
#toolbox .tool.active span {
    background-image: url(/graphics/line.svg);
    background-size: 100% 15%;
    background-repeat: no-repeat;
    background-position: bottom;
}



#editor {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	height: 100vh;
	width: 100vh;
	margin: auto;
	background: #eee;
}
#editor .wall {
	position: relative;
	float: left;
	border: 1px solid rgba(10, 10, 10, 0.1);
}
#editor .wall[block="1"] {
	background: currentColor;
}
#editor .wall[block="2"]::before {
	content: "";
	display: block;
	width: 70%;
	height: 70%;
	margin: 15%;
	border-radius: 50%;
	background: currentColor;
	filter: hue-rotate(180deg);;
}
#editor::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 2px;
	margin-top: -1px;
	background: rgba(10, 10, 10, 0.2);
}
#editor::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 2px;
	margin-left: -1px;
	background: rgba(10, 10, 10, 0.2);
}


.sidebar.right {
	display: flex;
	flex-direction: column;
	padding: 2vw;
}
h2 {
    margin: 0;
    padding-left: 0.3vw;
    background-image: url(/graphics/line.svg);
    background-size: 100% 15%;
    background-repeat: no-repeat;
    background-position: bottom;
}
#levels .level {
	display: flex;
	flex-direction: row;
	margin-top: 1vh;
	cursor: pointer;
	background: transparent;
}
#levels .level:hover {
	background: currentColor;
}
#levels .level .map {
	position: relative;
	height: 6vh;
	margin-right: 1.5vh;
	background: #fff;
}
#levels .level .map canvas {
	height: 100%;
}
#levels .level .name span {
	line-height: 1em;
	color: #222;
}
#levels .level:hover .name span {
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}

#clear {
	display: none;
}
#save {
	display: block;
	width: 100%;
	background: transparent;
	padding: 0.25em 0;
	border: 2px solid currentColor;
	font: inherit;
	cursor: pointer;

	animation: button_animation 5s;
	-moz-animation: button_animation 5s infinite; /* Firefox */
	-webkit-animation: button_animation 5s infinite; /* Safari and Chrome */
}


@-moz-keyframes button_animation /* Firefox */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}

@-webkit-keyframes button_animation /* Safari and Chrome */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}