html {
	font-size: 1.25vw;
	background: #fff;
}
body {
	display: flex;
	width: 100%;
}


#ip {
	position: relative;
	padding: 0 20%;
	margin-bottom: 20%;
	text-align: center;
	color: #fff;
}
body:not([state=running]) #ip {
	color: #222;
}
#ip #qr {
	border: 2px solid #fff;
}
#ip .info {
	margin-top: 0.2em;
	font-weight: 600;
}



#title {
	position: absolute;
	z-index: 3;
	top: -2.5vh;
	left: 50%;
	width: 34.6vh;
	margin-left: -17.2vh;
	padding: 0.5vh 1.7vh;
}


#battleground {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	height: 100vh;
	width: 100vh;
	margin: auto;
}
#battleground::before {
	content: "";
	position: absolute;
	z-index: 2;
	border: 2px solid currentColor;
	width: 100%;
	height: 100%;
}
#battleground canvas {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.sidebar {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
}
.sidebar.right {
	display: flex;
	flex-direction: column;
	padding: 2vh 2.2vh 2vh 0.5vh;
}

#kill_log {
	position: absolute;
	top: 0;
	right: 0;
	flex-grow: 0;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 3vh 3vh 0 1.5vh;
}
#kill_log li {
	transition: all 0.4s;
}
#kill_log li.hide {
	opacity: 0;
	margin-left: -0.5vw;
}
#kill_log li span {
	color: #fff !important;
}
#kill_log li img {
	margin: 0 0.8vw 0 0.9vw;
	height: 1.1em;
	vertical-align: -0.34em;
}
#kill_log li.suicide img {
    margin: 0 0.75vw 0 0.9vw;
    height: 0.9em;
    vertical-align: -0.18em;
}


.sidebar.right .spacer {
	flex-grow: 1;
}

#scoreboard {
	flex-grow: 0;
	min-height: 20vh;
	padding: 1vh;
	border: 2px solid #bbb;
}
body:not([state=running]) #scoreboard {
	display: none;
}
#scoreboard h2 {
	margin: 0;
	padding-left: 0.3vw;
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}
#scoreboard table {
	border-spacing: 0;
	width: 100%;
	margin-top: -1.5em;
}
#scoreboard tr th {
	padding-bottom: 0.5em;
}
#scoreboard tr td:not(:nth-child(2)), #scoreboard tr th:not(:first-child) {
	width: 1px;
}
#scoreboard td, #scoreboard th {
	text-align: left;
	padding-right: 1em;
}
#scoreboard tr td:first-child, #scoreboard tr th:first-child {
	padding-left: 0.4em;
	padding-right: 0.3em;
	text-align: right;
}
#scoreboard tr td:last-child, #scoreboard tr th:last-child {
	padding-right: 0.5em;
}


#lobby_setup {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}
body[state=running] #lobby_setup {
	display: none;
}
#lobby_setup .title {
	text-align: center;
}
#lobby_setup .title h2 {
	display: inline-block;
	margin: 0 0 1em;
	font-size: 2rem;
	line-height: 0.9em;
	
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}

#levels {
	position: fixed;
	width: 60%;
	left: 20%;
}
#levels .level {
	position: relative;
	float: left;
	width: 31%;
}
#levels .level:nth-child(3n+2) {
	margin: 0 3.5%;
}
#levels .level .map {
	position: relative;
	width: 100%;
	border: 0.6vh solid transparent;
	cursor: pointer;
}
#levels .level .map:hover {
    animation: border_animation 5s;
    -moz-animation: border_animation 5s infinite; /* Firefox */
    -webkit-animation: border_animation 5s infinite; /* Safari and Chrome */
}
#levels .level .map:hover + .name {
    animation: text_animation 5s;
    -moz-animation: text_animation 5s infinite; /* Firefox */
    -webkit-animation: text_animation 5s infinite; /* Safari and Chrome */
}
#levels .level .map canvas {
	display: block;
	width: 100%;
}
#levels .level .name {
	margin: 0.2em 0 0.9em;
	text-align: center;
}


@-moz-keyframes border_animation /* Firefox */ {
    0% {border-color:#06ab86;}
    25% {border-color:#f46cdb;}
    50% {border-color:#00bee1;}
    75% {border-color:#ff9e4c;}
    100% {border-color:#06ab86;}
}

@-webkit-keyframes border_animation /* Safari and Chrome */ {
    0% {border-color:#06ab86;}
    25% {border-color:#f46cdb;}
    50% {border-color:#00bee1;}
    75% {border-color:#ff9e4c;}
    100% {border-color:#06ab86;}
}


@-moz-keyframes text_animation /* Firefox */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}

@-webkit-keyframes text_animation /* Safari and Chrome */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}


#navbar {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2vh;
}
#navbar > * {
	display: inline-block;
	cursor: pointer;
	margin-left: 0.5em;
}
#navbar > img {
	height: 1em;
	vertical-align: middle;
}
#navbar .muted {
	opacity: 0.4;
}


#menu {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.94);
	opacity: 1;
	visibility: visible;
	transition: all 0.3s;
}
#menu.hidden {
	transition: all 0.2s;
	opacity: 0;
	visibility: hidden;
}
#menu .inner {
	margin: auto;
	margin-top: 0vh;
	list-style: none;
	padding: 0;
	text-align: center;
	transition: all 0.3s;
}
#menu.hidden .inner {
	transition: all 0.2s;
	margin-top: -4vh;
}
#menu .inner li {
	margin: 1em 0;
	font-size: 2rem;
	line-height: 0.9em;
}
#menu .inner li span {
	cursor: pointer;
}
#menu .inner li a {
	text-decoration: none;
	color: inherit;
}
#menu .inner li > *:hover {
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}