@import url("https://fonts.googleapis.com/css?family=Fredoka+One:400");

html {
	height: 100%;
	font-size: 1.25vw;
	background: #fff;
}
body {
	height: 100%;
}

.flex {
	display: flex;
	flex-direction: row;
}


#ip {
	position: relative;
	padding: 0 20%;
	margin-bottom: 20%;
	text-align: center;
	color: #fff;
}
#ip #qr {
	width: 100%;
	padding: 2%;
	border: 2px solid #fff;
	background: #fbfbfb;
	box-shadow: inset 0.38vh 0.38vh 0 0 rgba(0, 0, 0, 0.08);
}
#ip .info {
	margin-top: 0.2em;
	font-weight: 600;
}


#game {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #eee;
	display: flex;
}
body:not([state]) #game {
	display: none;
}

#banner {
	position: relative;
	width: 84%;
	margin: 0 auto 9.7%;
}
#banner svg {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: visible;
}
#banner svg.main {
	z-index: 2;
}
#banner svg.background {
	z-index: 0;
}
#banner .banner path {
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
#banner .shadow {
	opacity: 0.1;
	fill: #222222;
}
#banner .banner path.back {
	z-index: 0;
}
#banner .banner path.main {
	z-index: 2;
}
#banner .banner path.corner {
	fill: rgba(24, 24, 24, 0.3);
}

#banner .font path {
	stroke-width: 0.75;
	stroke-miterlimit: 10;
}
#banner .font .st4{fill:#067BC2;stroke:#055575;}
#banner .font .st5{fill:#FFD72F;stroke:#B29622;}
#banner .font .st6{fill:#F37748;stroke:#A54D32;}
#banner .font .st7{fill:#0DAB76;stroke:#086644;}
#banner .font .st8{fill:#D56062;stroke:#873E42;}


#battleground {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	height: 100vh;
	width: 100vh;
	margin: auto;
}
#battleground::before {
	content: "";
	position: absolute;
	z-index: 2;
	border: 2px solid currentColor;
	width: 100%;
	height: 100%;
}
#battleground canvas {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#battleground #level {
/*	background-image: url(/graphics/bg.png);
	background-size: 1.5vw;*/
}


#timer {
	position: absolute;
	z-index: 10;
	top: -0.5vh;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 1.2rem;
}
#timer span {
	display: inline-block;
	padding-top: 0.1em;
	margin-top: -0.05em;
	border: 2px solid #bbb;
	box-shadow: 0.35vh 0.35vh 0 0 rgba(0, 0, 0, 0.08);
	width: 3.6em;
}


#sidebar {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-right: 1.9vh;
}

#kill_log {
	position: absolute;
	top: 0;
	right: 0;
	flex-grow: 0;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 3vh 3vh 0 1.5vh;
}
#kill_log li {
	transition: all 0.4s;
}
#kill_log li.hide {
	opacity: 0;
	margin-left: -0.5vw;
}
#kill_log li span {
	color: #fff !important;
}
#kill_log li img {
	margin: 0 0.8vw 0 0.9vw;
	height: 1.1em;
	vertical-align: -0.34em;
}
#kill_log li.suicide img {
    margin: 0 0.75vw 0 0.9vw;
    height: 0.9em;
    vertical-align: -0.18em;
}


#scoreboard {
	flex-grow: 0;
	min-height: 20vh;
	padding: 1vh;
	border: 2px solid #bbb;
	box-shadow: inset 0.38vh 0.38vh 0 0 rgba(0, 0, 0, 0.08);
}
/*body:not([state=running]) #scoreboard {
	display: none;
}*/
#scoreboard h2 {
	margin: 0;
	padding-left: 0.3vw;
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}
#scoreboard table {
	border-spacing: 0;
	width: 100%;
	margin-top: -1.5em;
}
#scoreboard tr th {
	padding-bottom: 0.5em;
}
#scoreboard tr td:not(:nth-child(2)), #scoreboard tr th:not(:first-child) {
	width: 1px;
}
#scoreboard td, #scoreboard th {
	text-align: left;
	padding-right: 1em;
}
#scoreboard tr td:first-child, #scoreboard tr th:first-child {
	padding-left: 0.4em;
	padding-right: 0.3em;
	text-align: right;
}
#scoreboard tr td:last-child, #scoreboard tr th:last-child {
	padding-right: 0.5em;
}


#lobby_setup {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: hsl(200, 60%, 92%);
}
body:not([state=stopped]):not([state=not_started]) #lobby_setup {
	display: none;
}
#lobby_setup .title {
	display: block;
	height: 5em;
	margin: auto;
	margin-top: -4.6em;
	margin-bottom: 1em;
}
#lobby_setup .wrapper {
	width: 50%;
	margin: auto;
	padding: 1.6em;
	background: #fff;
	border: 2px solid #777;
	border-radius: 1vw;
	box-shadow: 0 0 6em rgba(0, 0, 0, 0.1);
}
#lobby_setup .left {
	width: 50%;
}
#lobby_setup .left .level {
	width: 100%;
	text-align: center;
}
#lobby_setup .left .level canvas {
	display: block;
	width: 100%;
	background: #fbfbfb;
	border: 2px solid #fbfbfb;
	border-radius: 0.2em;
	cursor: pointer;
}
#lobby_setup .left .level .name {
	display: inline-block;
	margin: 0.8em auto 1.4em;
	text-align: center;
	line-height: 1em;
	cursor: pointer;
}
#lobby_setup .conenction_info {
	position: absolute;
	width: 13vw;
	left: 0;
	bottom: 0;
	margin: 3vw;
	text-align: center;
}
#lobby_setup .conenction_info .info {
	position: absolute;
	width: 100%;
	bottom: 100%;
	left: 0%;
}
#lobby_setup .conenction_info .qr {
	display: block;
	width: 100%;
	background: #fbfbfb;
	border: 2px solid hsl(200, 40%, 65%);
	border-radius: 0.2vw;
}
#lobby_setup .conenction_info .ip {
	position: absolute;
	width: 100%;
	margin-top: 0.3em;
}
#lobby_setup .center {
	flex-grow: 0;
	width: 1.6em;
}
#lobby_setup .right {
	width: 50%;
	display: flex;
	flex-direction: column;
}
#lobby_setup .right #player_list {

}
#lobby_setup .right #player_list .player {
	display: flex;
	line-height: 1.4em;
	background: #fff;
	border-radius: 0.2em;
	padding: 0.3em 0.4em 0.3em 0.2em;
	margin-bottom: 0.6em;
	border: 2px solid currentColor;
}
#lobby_setup .right #player_list .player canvas {
	height: 1.4em;
	width: 1.4em;
}
#lobby_setup .right #player_list .player .name {
	flex-grow: 1;
	margin-left: 0.3em;
}
#lobby_setup .right .waiting {
	text-align: center;
	padding: 0.6em 0;
	font-size: 0.8em;
	line-height: 1em;
	color: #777;
}
#lobby_setup .right .button_wrapper {
	text-align: right;
}
#lobby_setup .right .button_wrapper button {
	display: inline-block;
	padding: 0.3em 2em;
	background: hsl(160, 86%, 36%);
	color: #f6f6f6;
	text-align: center;
	font: inherit;
	line-height: 1.4em;
	border: 0;
	border-radius: 0.2em;
	cursor: pointer;
}

#levels {
	position: fixed;
	width: 60%;
	top: 50%;
	left: 20%;
	transform: translateY(-50%);
	background: #fbfbfb;
	padding: 2em 2em 1em;
	border-radius: 0.2em;
	box-shadow: 0 0 6em rgba(0, 0, 0, 0.1);
}
#levels .level {
	position: relative;
	float: left;
	width: 31%;
}
#levels .level:nth-child(3n+2) {
	margin: 0 3.5%;
}
#levels .level .map {
	position: relative;
	width: 100%;
	border: 0.6vh solid transparent;
	cursor: pointer;
}
#levels .level .map:hover {
    animation: border_animation 5s;
    -moz-animation: border_animation 5s infinite; /* Firefox */
    -webkit-animation: border_animation 5s infinite; /* Safari and Chrome */
}
#levels .level .map:hover + .name {
    animation: text_animation 5s;
    -moz-animation: text_animation 5s infinite; /* Firefox */
    -webkit-animation: text_animation 5s infinite; /* Safari and Chrome */
}
#levels .level .map canvas {
	display: block;
	width: 100%;
}
#levels .level .name {
	margin: 0.2em 0 0.9em;
	text-align: center;
}


@-moz-keyframes border_animation /* Firefox */ {
    0% {border-color:#06ab86;}
    25% {border-color:#f46cdb;}
    50% {border-color:#00bee1;}
    75% {border-color:#ff9e4c;}
    100% {border-color:#06ab86;}
}

@-webkit-keyframes border_animation /* Safari and Chrome */ {
    0% {border-color:#06ab86;}
    25% {border-color:#f46cdb;}
    50% {border-color:#00bee1;}
    75% {border-color:#ff9e4c;}
    100% {border-color:#06ab86;}
}


@-moz-keyframes text_animation /* Firefox */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}

@-webkit-keyframes text_animation /* Safari and Chrome */ {
    0% {color:#06ab86;}
    25% {color:#f46cdb;}
    50% {color:#00bee1;}
    75% {color:#ff9e4c;}
    100% {color:#06ab86;}
}


#navbar {
	position: fixed;
	z-index: 100;
	bottom: 0;
	right: 0;
	margin: 2vh;
}
#navbar > * {
	display: inline-block;
	cursor: pointer;
	margin-left: 0.5em;
}
#navbar > img {
	height: 1em;
	vertical-align: middle;
}
#navbar .muted {
	opacity: 0.4;
}


#main_menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #dfedef;
	background-image: url(/graphics/menu_bg.jpg);
	background-size: cover;
	background-position: center;
}
body:not([state=stopped]):not([state=not_started]) #main_menu, #main_menu.hidden {
	display: none;
}
#main_menu .background {
	position: absolute;
	min-width: 110%;
	min-height: 110%;
	left: -5%;
	top: -5%;
}
#main_menu .logo {
	position: absolute;
	width: 148%;
	top: 0;
	left: 50%;
	transform: translate(-50%, -80%);
}
#main_menu .inner {
	position: relative;
	width: 20vw;
	margin: auto;
	margin-top: 0vh;
	list-style: none;
	padding: 0.9em 0 0.7em;
	text-align: center;
	transition: all 0.3s;
	background: #fff;
	font-size: 1.8rem;
	line-height: 0.9em;
	border: 2px solid #777;
	border-radius: 1vw;
	box-shadow: 0 0 6em rgba(0, 0, 0, 0.1);
}
#main_menu .inner li {
	margin: 0.8em 0;
}
#main_menu .inner li span {
	cursor: pointer;
}
#main_menu .inner li a {
	text-decoration: none;
	color: inherit;
}
#main_menu .inner li > *:hover {
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}



#menu {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.94);
	opacity: 1;
	visibility: visible;
	transition: all 0.3s;
}
#menu.hidden {
	transition: all 0.2s;
	opacity: 0;
	visibility: hidden;
}
#menu .inner {
	margin: auto;
	margin-top: 0vh;
	list-style: none;
	padding: 0;
	text-align: center;
	transition: all 0.3s;
}
#menu.hidden .inner {
	transition: all 0.2s;
	margin-top: -4vh;
}
#menu .inner li {
	margin: 1em 0;
	font-size: 2rem;
	line-height: 0.9em;
}
#menu .inner li span {
	cursor: pointer;
}
#menu .inner li a {
	text-decoration: none;
	color: inherit;
}
#menu .inner li > *:hover {
	background-image: url(/graphics/line.svg);
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: bottom;
}

#text_overlay {
	overflow: visible;
	position: fixed;
	z-index: 2;
	top: 50%;
	width: 133vh;
	text-align: center;
	font-family: "Fredoka One";
	font-size: 4rem;
	font-weight: 900;
	letter-spacing: 0.02em;
	height: 1em;
	margin-top: -0.5em;
}
#text_overlay text {
	fill: #ffec44;
	stroke: #d0bf39;
	stroke-width: 0.01rem;
	animation-name: text_overlay_animation;
	animation-duration: 800ms;
	transform-origin: 50% 50%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
#text_overlay text.s1 {
	text-shadow: 0 0 3em rgba(255, 255, 255, 1);
}
#text_overlay text.s2 {
	display: none;
}

@keyframes text_overlay_animation {
    0% {
		opacity: 0;
		transform: translate3d(0,0,0) scale(1);
	}
    10% {
		opacity: 1;
		transform: translate3d(0,0,0) scale(1);
	}
    100% {
		opacity: 0;
		transform: translate3d(0,0,0) scale(1.4);
	}
}
